:root {
  --h1-color: midnightblue;
  --h2-color: red;
  --link-color: midnightblue;
  --link-hover-color: royalblue;
  --paragraph-color: black;
  --background-color: white;
  --footer-color: midnightblue;
  --background-image: linear-gradient(white, whitesmoke, gainsboro);
  --details-color: navajowhite;
  --article-backgound-color: gainsboro;
  --box-shadow: 0em 0em 0.25em rgba(0, 0, 0, 1);
  --text-shadow: 0em 0.025em 0.05em rgba(0, 0, 0, 0.25);
  --text-outline: 0em 0.025em 0em whitesmoke, 0em 0.05em 0em whitesmoke, 0em 0.075em 0em whitesmoke, 0em 0.1em 0em whitesmoke;
  --logo-image: url('https://freepngimg.com/thumb/usa/15-2-america-flag-png-hd.png');
  --email-image: url('https://ehomerestoration.com/wp-content/uploads/2019/02/mail-red.png');
}

html {
  overflow-x: hidden;
}

body {
  font-family: serif;
  font-size: 1.5em;

  background-color: darkred;
}

header {
  height: 9em;

  background-color: whitesmoke;

  background-image: var(--logo-image);
  background-repeat: no-repeat;
  background-size: 11em;

  box-shadow: var(--box-shadow);
}

h1,
h2,
header a {
  font-weight: bold;
  font-style: italic;

  text-shadow: var(--text-outline);
}

h1 {
  padding-left: 1em;

  color: var(--h1-color);

  font-size: 3em;

  text-shadow: var(--text-shadow);
}

h2 {
  color: var(--h2-color);

  font-size: 1.5em;
}

nav {
  text-align: center;
}

nav ul {
  display: block;

  width: 100%;

  position: relative;

  transform: translateX(100% - 50%);
}

nav li {
  margin: 1vw;

  box-shadow: var(--box-shadow);
}

.list-group-item {
  background-color: midnightblue;

  border-radius: 5px;
  border-width: 0.25em;
  border-style: solid;
  border-color: var(--details-color);
}

.list-group-item a {
  color: var(--details-color);

  text-shadow: var(--text-shadow);
  text-align: center;
  text-decoration: none;
}

.list-group-item a:hover {
  color: antiquewhite;

  font-size: 1.025em;
}

.dropdown-menu {
  margin: 0em;

  width: 100%;
  
  position: absolute;
  
  border-radius: 0em;
  border-width: 0em;
  border-bottom-width: 0.25em;
  border-bottom-style: solid;
  border-color: var(--details-color);

  background-color: midnightblue;/*rgba(0, 0, 0, 0.25);
  box-shadow: 0em 0.1em 0.5em rgba(0, 0, 0, 0.25);*/
}

.dropdown-menu li a {
  color: var(--details-color);

  font-weight: bold;

  text-shadow: var(--text-shadow);

  background-color: darkred;
  box-shadow: 0em 0em 0em rgba(0, 0, 0, 0);
}

.dropdown-menu li a:hover {
  color: antiquewhite;

  background-color: red;
}

header a {
  margin-top: 4em;

  text-align: center;
}

header img {
  min-width: 3em;
  max-width: 3em;
}

#email {
  width: 3em;
  height: 3em;

  margin-top 6em;
  padding-top: 9em;

  background-image: var(--email-image);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  padding-left: 1em;
  padding-right: 1em;
}

article {
  background-color: var(--article-backgound-color);

  padding: 1em;

  margin-top: 1em;
  margin-bottom: 1em;

  text-align: justify;

  border-radius: 5px;

  box-shadow: var(--box-shadow);
}

p {
  color: var(--paragraph-color);
}

p,
a {
  font-size: 1em;
}

article a:hover {
  color: var(--link-color);
}

p a {
  color: var(--link-color);
}

p a:hover {
  color: var(--link-hover-color);
}

a,
a:hover {
  font-weight: bold;

  text-decoration: none;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
}

footer {
  bottom: 0;

  padding-top: 1em;
  padding-bottom: 0.25em;

  text-align: center;

  border-width: 0.25em;
  border-left-width: 0em;
  border-right-width: 0em;
  border-style: solid;
  border-color: var(--details-color);

  background-color: var(--footer-color);
  box-shadow: var(--box-shadow);
}

footer p {
  color: var(--details-color);

  text-transform: uppercase;
  text-shadow: var(--text-shadow);
}

table {
  margin-top: 2em;

  font-size: 1em;

  box-shadow: var(--box-shadow);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

th {
  background-color: var(--details-color);
  ;
}

th:first-child {
  border-top-left-radius: 5px;
}

th:last-child {
  border-top-right-radius: 5px;
}

tbody {
  background-color: white;
}

tbody tr:last-child {
  border-width: 0em;
  border-bottom-width: 0.25em;
  border-style: solid;
  border-color: var(--details-color);
}

footer a {
  color: dodgerblue;
}