:root {
  --details-color: navajowhite;
  --box-shadow: 0em 0em 0.25em rgba(0, 0, 0, 1);
}

#frame-container {
  box-sizing: border-box;
  display: block;

  width: 100%;
  height: 100%;

  position: absolute;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1;
}

iframe {
  box-sizing: border-box;
  display: block;

  width: 50%;
  height: 50%;

  margin: auto;
  
  transform: translateY(50%);

  background-color: white;

  border-width: 0.25em;
  border-style: solid;
  border-color: var(--details-color);
}
