<!DOCTYPE html>
<html lan="eng">

<head>
  <title>TGIF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/website-frame.css">
</head>

<body>
  <header class="container-fluid row justify-content-between">
    <h1 class="col-xs-6">TGIF</h1>
    <div class="col-xs-6">
      <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-f52fe3a323539563e59a6ea6cadbc196.png" alt="contact" class="col-xs-6">
      <a href="mailto:info@tgif.net" class="col-xs-1">info@tgif.net</a>
    </div>
  </header>

  <nav class="container-fluid overflow-hidden">
    <ul class="list-group">
      <li class="col-sm-2 list-group-item"><a href="index.html">Home</a></li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Congress 113</a>
        <ul class="dropdown-menu list-group">
          <li><a href="#" class="list-group-item">House</a></li>
          <li><a href="senate.html" class="list-group-item">Senate</a></li>
        </ul>
      </li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Attendance</a>
        <ul class="dropdown-menu list-group">
          <li><a href="attendance-house.html" class="list-group-item">House</a></li>
          <li><a href="attendance-senate.html" class="list-group-item">Senate</a></li>
        </ul>
      </li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Party Loyalty</a>
        <ul class="dropdown-menu list-group">
          <li><a href="party-loyalty-house.html" class="list-group-item">House</a></li>
          <li><a href="party-loyalty-senate.html" class="list-group-item">Senate</a></li>
        </ul>
      </li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">States Legislatures</a>
        <ul class="dropdown-menu list-group">
          <li><a href="states-legislatures.html" class="list-group-item">States Legislatures</a></li>
          <li><a href="dc-legislatures.html" class="list-group-item">DC Legislature</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <section id="app">
    <article class="container-fluid">
      <h2>Congressmen</h2>
      <p>The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
      <p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative.</p>
    </article>

    <article class="container-fluid">
      <form class="row-fluid">
        <fieldset class="col-xs-6 text-left">
          <label>Filter by Party:</label>
          <input type="checkbox" true-value="R" false-value="ALL" v-model="partyFilter" v-on:change="applyFilters"> Republican
          <input type="checkbox" true-value="D" false-value="ALL" v-model="partyFilter" v-on:change="applyFilters"> Democrat
          <input type="checkbox" true-value="I" false-value="ALL" v-model="partyFilter" v-on:change="applyFilters"> Independent
        </fieldset>

        <fieldset class="col-xs-6 text-right">
          <label> Filter by State:</label>
          <select v-model="stateFilter" v-on:change="applyFilters">
            <option value="ALL" hidden disabled selected>Show All</option>
            <option v-for="state in states" v-bind:value="state.abbreviation">{{ state.name }}</option>
          </select>
        </fieldset>
      </form>
    </article>

    <article class="container-fluid">
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>NAME</th>
            <th>PARTY</th>
            <th>STATE</th>
            <th>SENIORITY</th>
            <th>VOTES</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="member in filteredMembers">
            <td><a v-bind:href="member.url">{{ member.first_name }} {{ member.middle_name }} {{ member.last_name }}</a></td>
            <td>{{ member.party }}</td>
            <td>{{ member.state }}</td>
            <td>{{ member.seniority }}</td>
            <td>{{ member.votes_with_party_pct }}&#37;</td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>

  <footer>
    <p>&#9400; 2016 TGIF | All Rights Reserved</p>
  </footer>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="data/states.js"></script>
  <script src="scripts/utils.js"></script>
  <script src="scripts/congress-loader.js" congress='house'></script>
</body>

</html>
