<!DOCTYPE html>
<html lan="eng">

<head>
  <title>TGIF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body class="container-fluid">
  <header class="row justify-content-between">
    <div class="col-xs-6">
      <img src="assets/logo.png" alt="logo" class="col-xs-1">
      <h1 class="col-xs-6">TGIF</h1>
    </div>
    <div class="col-xs-6">
      <img src="assets/contact.png" alt="contact" class="col-xs-6">
      <a href="mailto:info@tgif.net" class="col-xs-1">info@tgif.net</a>
    </div>
  </header>

  <nav class="container-fluid row navbar navbar-default">
    <ul class="list-group">
      <li class="col-sm-1 list-group-item"><a href="index.html">Home</a></li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Congress 113</a>
        <ul class="dropdown-menu list-group">
          <li><a href="house.html" class="list-group-item">House</a></li>
          <li><a href="#" class="list-group-item">Senate</a></li>
        </ul>
      </li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Attendance</a>
        <ul class="dropdown-menu list-group">
          <li><a href="attendance-house.html" class="list-group-item">House</a></li>
          <li><a href="attendance-senate.html" class="list-group-item">Senate</a></li>
        </ul>
      </li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Party Loyalty</a>
        <ul class="dropdown-menu list-group">
          <li><a href="party-loyalty-house.html" class="list-group-item">House</a></li>
          <li><a href="party-loyalty-senate.html" class="list-group-item">Senate</a></li>
        </ul>
      </li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">States Legislatures</a>
        <ul class="dropdown-menu list-group">
          <li><a href="states-legislatures.html" class="list-group-item">States Legislatures</a></li>
          <li><a href="dc-legislatures.html" class="list-group-item">DC Legislature</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <section id="app" class="container-fluid">
    <article class="row-fluid">
      <div class="col-xs-6">
        <h2>Party Loyalty</h2>
        <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda.</p>
      </div>

      <div class="col-xs-6">
        <table class="table table-responsive table-hover">
          <caption>{{ table01.caption }}</caption>
          <thead>
            <tr>
              <th v-for="header in table01.headers">{{ header }}</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(column, index) in table01.columns">
              <td v-for="data in column">{{ data }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>

    <article class="row-fluid">
      <div class="col-xs-6">
        <table class="table table-responsive table-hover">
          <caption>{{ table02.caption }}</caption>
          <thead>
            <tr>
              <th v-for="header in table02.headers">{{ header }}</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="representative in table02.representatives">
              <td><a v-bind:href="representative.link">{{ representative.name }}</a></td>
              <td v-for="data in representative.data">{{ data }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-6">
        <table class="table table-responsive table-hover">
          <caption>{{ table03.caption }}</caption>
          <thead>
            <tr>
              <th v-for="header in table03.headers">{{ header }}</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="representative in table03.representatives">
              <td><a v-bind:href="representative.link">{{ representative.name }}</a></td>
              <td v-for="data in representative.data">{{ data }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </section>

  <footer class="container-fluid panel-footer row text-center">
    <p>&#9400; 2016 TGIF | All Rights Reserved</p>
  </footer>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="data/statistics.js"></script>
  <script src="scripts/utils.js"></script>
  <script src="scripts/statistics-loader.js" congress="senate" page="party-loyalty"></script>
</body>

</html>
