<!DOCTYPE html>
<html lan="eng">

<head>
  <title>TGIF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body class="container-fluid">
  <header class="row justify-content-between">
    <div class="col-xs-6">
      <img src="assets/logo.png" alt="logo" class="col-xs-1">
      <h1 class="col-xs-6">TGIF</h1>
    </div>
    <div class="col-xs-6">
      <img src="assets/contact.png" alt="contact" class="col-xs-6">
      <a href="mailto:info@tgif.net" class="col-xs-1">info@tgif.net</a>
    </div>
  </header>

  <nav class="container-fluid row navbar navbar-default">
    <ul class="list-group">
      <li class="col-sm-1 list-group-item"><a href="index.html">Home</a></li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Congress 113</a>
        <ul class="dropdown-menu list-group">
          <li><a href="house.html" class="list-group-item">House</a></li>
          <li><a href="#" class="list-group-item">Senate</a></li>
        </ul>
      </li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Attendance</a>
        <ul class="dropdown-menu list-group">
          <li><a href="attendance-house.html" class="list-group-item">House</a></li>
          <li><a href="attendance-senate.html" class="list-group-item">Senate</a></li>
        </ul>
      </li>
      <li class="col-sm-2 list-group-item">
        <a href="#" data-toggle="dropdown">Party Loyalty</a>
        <ul class="dropdown-menu list-group">
          <li><a href="party-loyalty-house.html" class="list-group-item">House</a></li>
          <li><a href="party-loyalty-senate.html" class="list-group-item">Senate</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <section id="app">
    <article class="container-fluid">
      <h2>Senators</h2>
      <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
    </article>

    <article class="container-fluid">
      <form class="row-fluid">
        <fieldset class="col-xs-6 text-left">
          <label>Filter by Party:</label>
          <input type="checkbox" true-value="R" false-value="ALL" v-model="partyFilter" v-on:change="applyFilters"> Republican
          <input type="checkbox" true-value="D" false-value="ALL" v-model="partyFilter" v-on:change="applyFilters"> Democrat
          <input type="checkbox" true-value="I" false-value="ALL" v-model="partyFilter" v-on:change="applyFilters"> Independent
        </fieldset>

        <fieldset class="col-xs-6 text-right">
          <label> Filter by State:</label>
          <select v-model="stateFilter" v-on:change="applyFilters">
            <option value="ALL" hidden disabled selected>Show All</option>
            <option v-for="state in states" v-bind:value="state.abbreviation">{{ state.name }}</option>
          </select>
        </fieldset>
      </form>
    </article>

    <article class="container-fluid">
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>NAME</th>
            <th>PARTY</th>
            <th>STATE</th>
            <th>SENIORITY</th>
            <th>VOTES</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="member in filteredMembers">
            <td><a v-bind:href="member.url">{{ member.first_name }} {{ member.middle_name }} {{ member.last_name }}</a></td>
            <td>{{ member.party }}</td>
            <td>{{ member.state }}</td>
            <td>{{ member.seniority }}</td>
            <td>{{ member.votes_with_party_pct }}&#37;</td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>

  <footer class="container-fluid panel-footer row text-center">
    <p>&#9400; 2016 TGIF | All Rights Reserved</p>
  </footer>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="data/states.js"></script>
  <script src="scripts/utils.js"></script>
  <script src="scripts/congress-loader.js" congress='senate'></script>
</body>

</html>
